# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
# Integer is a whole number
favorite_number = 23

##### Assinging float

In [2]:
# Float is a number with a decimal
a_float = 1.5

#### Performing Calculations on ints and floats

##### Addition

In [4]:
print(5+5)

print(favorite_number + 5)
# Didnt reassign fav_number value
print(favorite_number)

10
28
23

##### Subtraction

In [6]:
print(10-5)

print(favorite_number - 10)

#re-assigning value
# Long hand version
favorite_number = favorite_number - 10
# Short version

# Short hand version
a_float -= .3
print(a_float)

5
13
1.2

##### Multiplication

In [9]:
print(5*2)

print(favorite_number * 3)
#reassign
# Long hand
print(favorite_number = favorite_number *3)
print(favorite_number)

#Short Version
favorite_number *= 3
print(favorite_number)

10
39

TypeError: 'favorite_number' is an invalid keyword argument for print()

##### Division

In [12]:
print(10/2)

print(favorite_number / 3)

#Short version

favorite_number /= 3
print(favorite_number)

5.0
4.333333333333333
4.333333333333333

##### Floor Division

In [14]:
#Divide no and return an integer instead of a float (rounds down)
#output the original data type between int // float
#to give floor division response - 2 backslashes

print(11//2)

#Re-assigning value
favorite_number //=9

5

##### Modulo

In [17]:
#Divide 2 numbers and output the REMAINDER OF the 2 number
#use "%" sign
#even number would return a 0, odd number would return a value

print(10 % 2)

print(11 % 2)

print(124 % 25)

0
1
24

##### Exponential

In [21]:
# **
# squaring

print(10**2)

print(10**3)

my_num = 10
#reassign
#longhand
my_num = my_num **2
print(my_num)
#short hand
my_num ** =2
print(my_num)

SyntaxError: invalid syntax (91652184.py, line 14)

### String Input-Output

##### String Assignment

In [23]:
instructor = 'Sean'

print(type(instructor))

num_string = '500'

print(type(num_string))

<class 'str'>
<class 'str'>

##### print() <br>
<p>Don't forget about end=' '</p>

In [25]:
#convert num string
num_string + 100

print(my_num)

print(instructor, end='/n')

# end by default is new line /n can overwrite by adding end argument
print(instructor, end=' Currie ')
print('hello world')
print('test')

TypeError: can only concatenate str (not "int") to str

##### String Concatenation

In [31]:
#adding strings
first_name = 'Agent'
last_name = 'Smith'

full_name = first_name + last_name
print(full_name) #there was no space, so change to below to include space

full_name = first_name + '' + last_name
print(full_name)

#reassign
my_name ='dylan'

#short version
my_name += ' jr'
print(my_name)

#long version
my_name = my_name + ' smith'
print(my_name)

AgentSmith
AgentSmith
dylan jr
dylan jr smith

##### Type Conversion

In [32]:
#str() function is out of place not changing orgiginal type must re-assign 

print(my_num, type(my_num))
str()

#answer 10,000<class 'int>'

#reassgn to converted number
my_num = str(my_num)

#convert to int with int

print(my_num, type(my_num))
int(my_num)

print(type(my_num))

#reassign to new type
my_num = int(my_num)

NameError: name 'my_num' is not defined

##### input()

In [ ]:
#pass argumrnt that will serve as a prompt


#input() takes a prompt as an argument

#always returns a string
#make sure to add a space after the ? mark 

user_name = input('what is your name? ')
user_age = input('WHat is your age? ENter in digits ')
user_age = int(user_age)
user_age +=1
print(user_age)

##### format()

In [ ]:
#this is a method, if a number use curly braces as place holder
#methods are .format with () to addd a 

print('User {} is {} years old'.format(user_age))

##### Old Way (python 2)

In [ ]:
print('User is %s is %s years old'%user_name)

In [ ]:
print(f'User {user_name} is {user_age} years old')

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
color = input('What is the color of the car?\n') #makes the response on the 2nd line used formatted string \n
year = input('What is the year of the car?\n')
make =  input('What is the make of the car?\n')
model = input('What is the model of the car?\n')


print(f'I drive a {color} {year} {make} {model}!')

What is the color of the car?
white
What is the year of the car?
2011
What is the make of the car?
honda
What is the model of the car?
ex
I drive a white 2011 honda ex!

### If Statements

In [4]:
# if(boolean): #(this is setting a condition)

#action will always be indented in the condition and add :

#you can have more than 1

if True:
    print("condition true")
    
if 1:
    print('one true')
    
if 5:
    print('true')
    
if 0;
print('zero true')

SyntaxError: invalid syntax (3823725861.py, line 16)

In [5]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# indentationError 
# if 5 > 4:
# print('five > 4')

if 5 > 4:
    print('five > 4')

print(5<4)
if 5 < 4:
#     Skip action boolean/condition is false
    print('five < 4')


if 5 == 5:
    print('5 == 5')
    
if 5 + 5 > 9:
    print('10 > 9')
    
if 5 + 5 > 10:
    print('10 > 10')
    
if 5 + 5 >= 10:
    print('10 >= 10')
    
if 5 + 5 <= 10:
    print('10 <= 10')
    
if 10 != 9:
    print('10 != (not equal) 9')

# not equal
print(10!=10)
if 10 != 10:
    print('10 != (not equal) 9')

five > 4
5==5
10 > 9

In [12]:
# Truth Tree:
# T and F = F
# T and T = T
# F + F = F
# T or F = T
# F or T = T
# F or F = F

if True and False:
    print('true and false')
    
if True or False:
    print('true or false')    
    
if 5+5 ==10 and 11 >10:
    print('11 > 10 == 10')
    print('second action')
    
# T and F
        
if 5+5 > 10 and 11 >10:
    print('11 <  == 10')
    print('second action')
    
    
#first condition returns F fosnt check 2nd confition
    
if 10 == 11 and int(input('what is your age')) > 18:
    print(breaking at firs condidiont)
    
# T or T
if 1 > 0 or 10 == 10:
    print('both true')
    
    #F or F
 if 1 > 2 or 2 > 3:
    print('both true using or')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 36)

##### 'is' keyword

In [14]:
simple_list = [1,2,3,4]
basic_list = [1,2,3,4]
# True
simple_list == basic_list
# False
simple_list is basic_list

simple_list_copy = simple_list
print(simple_list_copy)

print(simple_list_copy is simple_list)
# adding to same list of simple and simple copy
simple_list.append(5)

print(simple_list_copy)
# uneffected
print(basic_list)

[1, 2, 3, 4]
True
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

##### 'in' keyword

In [17]:
# membership check

character = "Neo"
print('N' in character)

#case sensitive
print('n' in character)

print("neo" in 'neo')
#out of order
print('one' in 'neo')

if "N" in 'Neo':
    print('N in Neo')

True
False
True
False
N in Neo

##### 'not in' keyword'

In [ ]:
if 'z' not in character:
    print('no z in Neo')
    
if 'n' not in 'neo':
    print('no in neo')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
input = 'word'
print('yes' in word)

p is in the word



if 'p' not in character:
    print('no p in Neo')
    
if 'n' not in 'neo':
    print('no in neo')

## Using 'and'/'or' with If Statements

In [ ]:
#the F & F section

### Elif Statements

In [ ]:
#chaining conditions to be true, if true then associate action automatically


if 5 + 5 ==10:
    print('10 ==10')
elif 100> 99:
    print('100 > 99')
    
#check both conditions

#if 5 + 5 ==10:
    #print('10 ==10')
#elif 100> 99:
    #print('100 > 99')
 
#chaining multiple conditions

if False:
    print('false')
elif 0:
    print('0')
elif 1:
    print('1')

### Else Statements

In [ ]:
# see above
# if false no other condition to check

if 'a' in 'morpheus'
    print('a in morpheus')
else:
    print('no a in morpheus')
    
    if 'a' in 'neo':
        print('a in neo')
        
    elif 'z' in. 'neo':
        print('n in neo')
    else:
        print('no a or n in neo')

### For Loops

In [20]:
# for keyword, loop variables, in, iterable (could be a string, a list, a dictionary, a set, touple) 
#"for" is a for loop
#use counters for our for loop
#store integer, start at 0
#rangec common in for loop

count = 0
for char in 'neo is the one': #goes through each step of our string, like action in conditional statement, need to be indented
    print(char)
    count+=1
    print(count)

n
1
e
2
o
3

4
i
5
s
6

7
t
8
h
9
e
10

11
o
12
n
13
e
14

In [21]:
#range is not inclusive

for num in range(10):
    print(num)
    
 # range(start, stop, step) 

for num in range(1,11):
    print(num)

0
1
2
3
4
5
6
7
8
9

##### Using 'in' keyword

In [ ]:
# see above

#looping thru everything in our iterable

##### Continue Statement

In [ ]:
# will continue to next iteration
#skip to the top
#once true, dont keep going

In [23]:
for num in range(10):
    if num == 5:
        continue
    print(num)

0
1
2
3
4
6
7
8
9

##### Break Statement

In [ ]:
# will break out of current loop
# once i get to 5, break out the for loop

In [22]:
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [24]:
def get_user_age():
    pass
def calculate_age():
    pass

for num in range(10):
    if num == 5:
        pass
    print(num)

0
1
2
3
4
5
6
7
8
9

##### Double For Loops

In [28]:
#num is 0, loop thru sean, charcter start at s, print num and s, havent compelted 2nd line of cose, 
#loop thru sean 5 times
#loop thru character with 0, then loop thru sean

for num in range(5):
    for char in 'sean':
        print(num,char)
    print('nested loop completed')

0 s
0 e
0 a
0 n
nested loop completed
1 s
1 e
1 a
1 n
nested loop completed
2 s
2 e
2 a
2 n
nested loop completed
3 s
3 e
3 a
3 n
nested loop completed
4 s
4 e
4 a
4 n
nested loop completed

In [29]:
#another ex:

for x in range(10):
    for y in range(10):
        print(x,'',y)
    print('nested loop completed')

0  0
0  1
0  2
0  3
0  4
0  5
0  6
0  7
0  8
0  9
nested loop completed
1  0
1  1
1  2
1  3
1  4
1  5
1  6
1  7
1  8
1  9
nested loop completed
2  0
2  1
2  2
2  3
2  4
2  5
2  6
2  7
2  8
2  9
nested loop completed
3  0
3  1
3  2
3  3
3  4
3  5
3  6
3  7
3  8
3  9
nested loop completed
4  0
4  1
4  2
4  3
4  4
4  5
4  6
4  7
4  8
4  9
nested loop completed
5  0
5  1
5  2
5  3
5  4
5  5
5  6
5  7
5  8
5  9
nested loop completed
6  0
6  1
6  2
6  3
6  4
6  5
6  6
6  7
6  8
6  9
nested loop completed
7  0
7  1
7  2
7  3
7  4
7  5
7  6
7  7
7  8
7  9
nested loop completed
8  0
8  1
8  2
8  3
8  4
8  5
8  6
8  7
8  8
8  9
nested loop completed
9  0
9  1
9  2
9  3
9  4
9  5
9  6
9  7
9  8
9  9
nested loop completed

### While Loops

In [ ]:
#gives you control in loop
#helps with looping in javascript, 
#syntax is "while", instead of loop variable, wite the condition to keep looping
#controlling implemeting loop
#make sure to declare variable
#DONT RUN, RUNS FOREVER*************************************

num = 0
while num < 100:
    print(num)
    num +=1

##### Looping 'While True'

In [ ]:
#print while true
#set condition that is true or false
#DONT RUN, RUNS FOREVER*************************************
i = 0
while True:
    print('hello')
    i+=1
    if i ==100:#
        break #stops at 100 now cuz of break, if there is no condition to do break

##### While & For Loops Used Together

In [31]:
num = 0
while num < 5:
    for char in 'sean':
    print(num,' ', char)
    num += 1

IndentationError: expected an indented block after 'for' statement on line 3 (2797045077.py, line 4)

### Built-In Functions

##### range()

In [32]:
#range(start,stop,step)
#only one required argumrnt would be stop
#start defaults to 0 and step defaults to 1
print(range(10))

range(0, 10)

##### len()

In [35]:
#length
#go thru each character and return that value, will return the length of it



#strings and lists built on index system, every character or position has 2 valies, index is position, and starts at 0
#if starts at 0, then minus 1 for total

len('sean currie')


for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

##### help()

In [36]:
#built in function

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [38]:
#like "type"

type(instructor)

print(isinstance(instructor, str))

NameError: name 'instructor' is not defined

##### abs()

In [39]:
abs(-5)==abs(5)

#aboslute value

True

### Try and Except

In [41]:
#commonly used to check for bugs, might get weong data
#if try block is success, we good
#if try block is bad, its a bug
while true:
    try:
    user_age = int(input ('What is your age?'))
    break
except:
    print('Error enter age in digits')

What is your age?ten
Error enter age in digits

### Lists

##### Declaring Lists

##### Indexing a List

##### .append()

##### .insert()

##### .pop()


##### .remove()

##### del()

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [45]:
#i being an integer variable in a loop short for index or iteration 

i = 1
while True:
    cube = i ** 3
    if cube > 1000:
        break 
    print(cube)
    i += 1 #if I don't do this, itll be indefinitely 1 (same as i=i+1)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [52]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

primes = []
for num in range(2,101):
    for i in range(2, num):
        if (num % i) == 0:
            break
    else:
        primes.append(num)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [56]:
age = int(input("Enter your age: "))

if age <18:
    print("You are a kid.")
elif age <= 65:
    print("You are an adult.")
else:
    print("You are a senior.")

Enter your age: 61
You are an adult.